@charset "UTF-8";

@font-face {
    font-family: titulo;
    src: url(/fontes/bubblegum-sans-regular.otf);
}
@font-face {
    font-family: titulo1;
    src: url(/fontes/Nosifer/Nosifer-Regular.ttf);
}


*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #1c44c9;
}
#interface{
    background-color: #ffffff;
    width: 1200px;
    margin: 0 auto;
}

#topo{
    height: 70px;

}
#topo img{
    margin: 10px 20px;
}

#menu{
    display: block;
    position: absolute;
    width: 800px;
    top: 20px;
    left: 900px;
}

#menu ul{
    list-style: none;
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}
#menu li{
    float: left;
}
#menu li a {
    color: #1c44c9;
    text-decoration: none;
    margin: 0px;
    padding: 5px 25px;
}

#menu li a:hover{
    color: pink;
    text-decoration: underline;
}
    
#banner-anime{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 350px;
    margin: 0px;
}
#anime1, #anime2{
    max-width: 100%;
    height: auto;
} 
#banner-anime img{
    position: absolute;
    transition-property: opacity;
    transition-duration: 1s;
}

#anime1, #anime2:hover{
    opacity: 1;
}

#anime1:hover, #anime2{
    opacity: 0; 
}

h1{
    font-family: titulo1;
    color: #1c44c9;
    font-size: 3em;
    text-align: center;
}

#contato{
    width: 1000px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

input,textarea, select{
    font-size: 0.9em;
    background: #f0f0f0;
    border-radius: 7px;
    padding: 6px;
}

#cCor{
    background: none;
    padding: 0px;
}

legend{
    color: #1c44c9;
    font-family: titulo;
    font-size: 1.5em;
}


fieldset{
    border: 1px solid #000000;
    padding: 20px;
    margin-bottom: 30px;
}
#sexo{
    width: 175px;
}

#contato p{
    padding: 5px;
}

#usuario{
    background: url(img/icontato.png) no-repeat 95% 95%;
}

#endereco{
    background: url(img/iendereco.png) no-repeat 95% 95%;
}

#mensagem{
    background: url(img/imensagem.png) no-repeat 95% 95%;
}

#pedido{
    background: url(img/ipgto.png) no-repeat 95% 95%;
}

.btn{
    width: 75px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    background: #1c44c9;
    color: #ffffff;
    margin-top: 50%;
    margin: 0px 5px 15px 5px;
    font-size: 0.9em;
    padding: 7px;
}

#botao{
    text-align: center;
}

#rodape{
    border-radius: 2px solid #1c44c9;
    padding: 5px;
    clear: both;
}

#rodape p{
    text-align: center;
    color: #1c44c9;
    font-family: titulo1;
    font-size: 1.7em;
    margin: 10px 5px;
}

#rodape a{
    text-decoration: none;
}

/*pagina de fotos*/

#galeria1 p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    padding: 5px 15px;
}

#album-foto{
    width: 696px;
    margin: 0 auto;
    padding: 50px;
    list-style: none;
}

#album-foto li{
    float: left;
    width: 198px;
    height: 200px;
    margin: 10px;
    border: 3px solid #1c44c9;
    background: #909192;
}

#album-foto li .galeria{
    opacity: 0;
    color: #ffffff;
    background: rgba(28, 68, 201, 0);
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    line-height: 370px;
}

#album-foto li:hover .galeria{
    opacity: 1;
}

#album-foto li:hover{
    transform: scale(1.5);
}

#album-foto li.foto1{
    background: url(img/galeria1.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 700px 500px;
}
#album-foto li.foto1:hover{
    background-position: 0% 0%;
    background-size: 200px 200px;
}

#album-foto li.foto2{
    background: url(img/galeria2.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 700px 500px;
}

#album-foto li.foto2:hover{
    background-position: 0% 0%;
    background-size: 200px 200px;
}
#album-foto li.foto3{
    background: url(img/galeria3.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 700px 500px;
}

#album-foto li.foto3:hover{
    background-position: 0% 0%;
    background-size: 200px 200px;
}
#album-foto li.foto4{
    background: url(img/galeria4.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 700px 500px;
}

#album-foto li.foto4:hover{
    background-position: 0% 0%;
    background-size: 200px 200px;
}
#album-foto li.foto5{
    background: url(img/galeria5.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 700px 500px;
}

#album-foto li.foto5:hover{
    background-position: 0% 0%;
    background-size: 200px 200px;
}
#album-foto li.foto6{
    background: url(img/galeria6.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 700px 500px;
}

#album-foto li.foto6:hover{
    background-position: 0% 0%;
    background-size: 200px 200px;
}

#galeria2{
    width: 800px;
    margin: 0 auto;
}

#galeria-foto li{
    display: block;
    float: left;
    margin: 3px;
    position: relative;
}

#galeria-foto img{
    background: #585857;
    padding: 5px;
    width: 200px;
    height: 165px;
}

.aumentar:hover{
    transform: scale(1.5);
    z-index: 1;
}


/* PAGINA DE VIDEO*/

#radio-tv{
    width: 900px;
    height: 700px;
    background: url(img/radio-tv.png) no-repeat;
    margin: 5px auto;
}

#musica{
    display: block;
    position: relative;
    width: 300px;
    top: 490px;
    left: 575px;
}

#filme{
    display: block;
    position: relative;
    width: 445px;
    top: 50px;
    left: 85px;
}