@charset "UTF-8";

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a{
    color: #006400;
}
section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #006400;
    background: #2b2929;
}



#destaque h2 {
    color: #006400;
}

.saiba a{
    color: #006400;
}

#masculino h2{
    color: #006400;
}

#feminino h2{
    color: #006400;
}

#rei h2{
    color: #006400;
}

.letras{
    color: #fff;
}